@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  height: 100vh;
  background-color: green;
  display: flex;

  justify-content: center;
  align-items: center;
}
.carta {
  width: 200px;
  height: 300px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.palo {
  font-size: 3rem;
}
.palo.top {
  align-self: flex-start;
}
.palo.bottom {
  align-self: flex-end;
}
.number {
  font-size: 6rem;
}
.palo.red {
  color: red;
}
.palo.black {
  color: black;
}
